DATABASE_URL=postgresql://luxe:luxe_dev@localhost:5432/luxemarket
REDIS_URL=redis://redis:6379
APP_ENV=development
SECRET_KEY=72eb8a243db3b6b0a48fb7021c152e8c3a206d144a2c02d8bb2d8047ab7b580f
LOG_LEVEL=INFO